project/flow_testing_higher_lower.json
[{"id":"40cd1502.39e91c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e456ba6c.130298","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27778da9.51d9e2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c0cfce5.e41804","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2085202b.f14a","type":"ui_group","z":"","name":"Datos II","tab":"2c0cfce5.e41804","disp":true,"width":"6","collapse":false},{"id":"3e9cd107.7b82fe","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ee8177fa.10c398","type":"ui_tab","z":"","name":"Datos II","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"25c1d278.50e21e","type":"ui_tab","z":"","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"48f70960.a327d8","type":"ui_group","z":"","name":"Toma de contacto con ESP8266","tab":"25c1d278.50e21e","disp":true,"width":"12","collapse":false},{"id":"ad7371f.318a99","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d04f107.94e28f","type":"ui_group","z":"","name":"Datos I","tab":"4576d165.83dbe","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f5f6471.d9e39c","type":"ui_group","z":"","name":"LEDs","tab":"4576d165.83dbe","order":1,"disp":true,"width":"6","collapse":false},{"id":"c84d67f4.6589d8","type":"ui_group","z":"","name":"Datos II","tab":"4576d165.83dbe","order":3,"disp":true,"width":"6","collapse":false},{"id":"4576d165.83dbe","type":"ui_tab","z":"","name":"MASTER IoT","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"30677e7f.068582","type":"ui_spacer","name":"spacer","group":"c84d67f4.6589d8","order":3,"width":1,"height":1},{"id":"92a1dcff.9ccd6","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7c91455c.8b6a6c","type":"ui_group","z":"","name":"Datos I","tab":"9ba0d391.9f4da","order":2,"disp":true,"width":"6","collapse":false},{"id":"5859e56d.79bdac","type":"ui_group","z":"","name":"LEDs","tab":"9ba0d391.9f4da","order":1,"disp":true,"width":"6","collapse":false},{"id":"b646860.4e4fc78","type":"ui_group","z":"","name":"Datos II","tab":"9ba0d391.9f4da","order":3,"disp":true,"width":"6","collapse":false},{"id":"9ba0d391.9f4da","type":"ui_tab","z":"","name":"MASTER IoT","icon":"dashboard","disabled":false,"hidden":false},{"id":"d98f44e0.c2a128","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4839fe8.18778","type":"ui_group","z":"40cd1502.39e91c","name":"Project","tab":"2b4b83ed.63214c","disp":true,"width":"12","collapse":false},{"id":"2b4b83ed.63214c","type":"ui_tab","z":"40cd1502.39e91c","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dd79e40a.904848","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e50e244b.159998","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7db4930.6eaa58","type":"mqtt in","z":"40cd1502.39e91c","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"d98f44e0.c2a128","x":300,"y":300,"wires":[["2c1bf761.eacbb8","ffaa92c8.d5185","58f75f17.33af5","59582028.85028"]]},{"id":"2c1bf761.eacbb8","type":"debug","z":"40cd1502.39e91c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":640,"y":300,"wires":[]},{"id":"ffaa92c8.d5185","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":0,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-center","x":640,"y":220,"wires":[]},{"id":"58f75f17.33af5","type":"function","z":"40cd1502.39e91c","name":"Lower Threshold: 20cm","func":"if(msg.payload < 20){\n    msg.payload = \"True\";\n}else{msg.payload = \"False\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["ed3c3494.e458c8","b1366bb2.3f72c8"]]},{"id":"8302e264.eadaf","type":"inject","z":"40cd1502.39e91c","name":"","topic":"","payload":"100","payloadType":"num","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":500,"wires":[["58f75f17.33af5","59582028.85028","ffaa92c8.d5185"]]},{"id":"ed3c3494.e458c8","type":"debug","z":"40cd1502.39e91c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":380,"wires":[]},{"id":"b1366bb2.3f72c8","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":0,"width":0,"height":0,"name":"","label":"Lower than 20cm","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":560,"wires":[]},{"id":"59582028.85028","type":"function","z":"40cd1502.39e91c","name":"HigherThreshold: 200cm","func":"if(msg.payload > 200){\n    msg.payload = \"True\";\n}else{msg.payload = \"False\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["32942ef8.9cab92","165142fc.24a23d"]]},{"id":"32942ef8.9cab92","type":"debug","z":"40cd1502.39e91c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":680,"wires":[]},{"id":"165142fc.24a23d","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":0,"width":0,"height":0,"name":"","label":"Higher than 200cm ","format":"{{msg.payload}}","layout":"row-center","x":910,"y":800,"wires":[]}]