project/flow_tim.json
[{"id":"11f18a2f.12642e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20c8a32a.811c3c","type":"mqtt in","z":"11f18a2f.12642e","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"64693858.913748","x":300,"y":300,"wires":[["2348b4ec.41e14c","a9cba3cb.2cbc5","23adb116.79595e","cf95c12d.48a4b8"]]},{"id":"2348b4ec.41e14c","type":"debug","z":"11f18a2f.12642e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":340,"wires":[]},{"id":"a9cba3cb.2cbc5","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":4,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} cm","layout":"row-center","x":640,"y":220,"wires":[]},{"id":"a87327d7.65ec7","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":5,"width":0,"height":0,"name":"","label":"Lower than lower threshold","format":"{{msg.payload.lowLed}}","layout":"row-center","x":800,"y":760,"wires":[]},{"id":"23adb116.79595e","type":"function","z":"11f18a2f.12642e","name":"Thresholds","func":"higher = 150;\nlower = 20;\n\nif(msg.payload > higher){\n    msg.payload = {highLed: true, lowLed:false};\n}else{\n    if (msg.payload < lower) {\n    msg.payload = {highLed:false, lowLed:true};\n    } else {\n        msg.payload = {highLed:false, lowLed:false};\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":580,"wires":[["ca310bf2.ce3a","e2b167b9.1d4c4","a87327d7.65ec7","b7ac85da.1e56e8"]]},{"id":"ca310bf2.ce3a","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":6,"width":0,"height":0,"name":"","label":"Higher than upper threshold","format":"{{msg.payload.highLed}}","layout":"row-center","x":800,"y":700,"wires":[]},{"id":"8846e30e.c3d068","type":"mqtt out","z":"11f18a2f.12642e","name":"","topic":"threshold","qos":"","retain":"","broker":"1b55086a.5edb88","x":1020,"y":640,"wires":[]},{"id":"cf95c12d.48a4b8","type":"ui_chart","z":"11f18a2f.12642e","name":"Distance","group":"9b5e5c3e.2488b","order":7,"width":0,"height":0,"label":"Measured Distance (in cm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":260,"wires":[[]]},{"id":"b8f6961b.1e35d8","type":"ui_led","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":2,"width":0,"height":0,"label":"Lower Threshold surpassed:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"low","valueType":"str"}],"allowColorForValueInMessage":false,"name":"lowLed","x":1020,"y":440,"wires":[]},{"id":"20b2a677.628e2a","type":"ui_led","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":1,"width":0,"height":0,"label":"Upper threshold surpassed","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"high","valueType":"str"}],"allowColorForValueInMessage":false,"name":"highLed","x":1020,"y":500,"wires":[]},{"id":"e2b167b9.1d4c4","type":"json","z":"11f18a2f.12642e","name":"","property":"payload","action":"str","pretty":false,"x":730,"y":600,"wires":[["8846e30e.c3d068","8842b5a.72f7d48"]]},{"id":"8842b5a.72f7d48","type":"debug","z":"11f18a2f.12642e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":600,"wires":[]},{"id":"9e1b0a27.fb1ae8","type":"debug","z":"11f18a2f.12642e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":380,"wires":[]},{"id":"b7ac85da.1e56e8","type":"function","z":"11f18a2f.12642e","name":"filterLow","func":"if (msg.payload.highLed === true) {\n    return {payload: \"high\"};\n} else if (msg.payload.lowLed === true) {\n    return {payload: \"low\"};\n} else {\n    return {payload:\"between\"};\n}\n","outputs":1,"noerr":0,"x":740,"y":460,"wires":[["b8f6961b.1e35d8","9e1b0a27.fb1ae8","20b2a677.628e2a","ef40ba86.b64128"]]},{"id":"ef40ba86.b64128","type":"ui_led","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":3,"width":0,"height":0,"label":"normal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"between","valueType":"str"}],"allowColorForValueInMessage":false,"name":"normalLed","x":1030,"y":560,"wires":[]},{"id":"64693858.913748","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b5e5c3e.2488b","type":"ui_group","z":"11f18a2f.12642e","name":"Project","tab":"383db5db.6e6dfa","disp":true,"width":"12","collapse":false},{"id":"1b55086a.5edb88","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"383db5db.6e6dfa","type":"ui_tab","z":"11f18a2f.12642e","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
