project/flow_with_chart_and_leds.json
[{"id":"11f18a2f.12642e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"20c8a32a.811c3c","type":"mqtt in","z":"11f18a2f.12642e","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"64693858.913748","x":300,"y":300,"wires":[["2348b4ec.41e14c","a9cba3cb.2cbc5","15b4cb.d1a27335","23adb116.79595e","cf95c12d.48a4b8"]]},{"id":"2348b4ec.41e14c","type":"debug","z":"11f18a2f.12642e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":340,"wires":[]},{"id":"a9cba3cb.2cbc5","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":3,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} cm","layout":"row-center","x":640,"y":220,"wires":[]},{"id":"15b4cb.d1a27335","type":"function","z":"11f18a2f.12642e","name":"Lower Threshold: 20cm","func":"if(msg.payload < 20){\n    msg.payload = \"True\";\n}else{msg.payload = \"False\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["64114af2.2bf094","b8f6961b.1e35d8","a87327d7.65ec7"]]},{"id":"a87327d7.65ec7","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":4,"width":0,"height":0,"name":"","label":"Lower than 20cm","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":560,"wires":[]},{"id":"23adb116.79595e","type":"function","z":"11f18a2f.12642e","name":"HigherThreshold: 200cm","func":"if(msg.payload > 200){\n    msg.payload = \"True\";\n}else{msg.payload = \"False\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["8846e30e.c3d068","20b2a677.628e2a","ca310bf2.ce3a"]]},{"id":"ca310bf2.ce3a","type":"ui_text","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":5,"width":0,"height":0,"name":"","label":"Higher than 200cm ","format":"{{msg.payload}}","layout":"row-center","x":910,"y":800,"wires":[]},{"id":"64114af2.2bf094","type":"mqtt out","z":"11f18a2f.12642e","name":"","topic":"lowerThreshold","qos":"","retain":"","broker":"1b55086a.5edb88","x":1030,"y":460,"wires":[]},{"id":"8846e30e.c3d068","type":"mqtt out","z":"11f18a2f.12642e","name":"","topic":"upperThreshold","qos":"","retain":"","broker":"1b55086a.5edb88","x":950,"y":740,"wires":[]},{"id":"cf95c12d.48a4b8","type":"ui_chart","z":"11f18a2f.12642e","name":"Distance","group":"9b5e5c3e.2488b","order":6,"width":0,"height":0,"label":"Measured Distance (in cm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":260,"wires":[[]]},{"id":"b8f6961b.1e35d8","type":"ui_led","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":2,"width":0,"height":0,"label":"Lower Threshold surpassed:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1000,"y":380,"wires":[]},{"id":"20b2a677.628e2a","type":"ui_led","z":"11f18a2f.12642e","group":"9b5e5c3e.2488b","order":1,"width":0,"height":0,"label":"Upper threshold surpassed","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"True","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":940,"y":660,"wires":[]},{"id":"64693858.913748","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9b5e5c3e.2488b","type":"ui_group","z":"11f18a2f.12642e","name":"Project","tab":"383db5db.6e6dfa","disp":true,"width":"12","collapse":false},{"id":"1b55086a.5edb88","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"383db5db.6e6dfa","type":"ui_tab","z":"11f18a2f.12642e","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
