project/flow_with_setting_threshold_status_led.txt
[{"id":"40cd1502.39e91c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e456ba6c.130298","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"27778da9.51d9e2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3e9cd107.7b82fe","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ad7371f.318a99","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c84d67f4.6589d8","type":"ui_group","z":"","name":"Datos II","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"30677e7f.068582","type":"ui_spacer","name":"spacer","group":"c84d67f4.6589d8","order":3,"width":1,"height":1},{"id":"92a1dcff.9ccd6","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d98f44e0.c2a128","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4839fe8.18778","type":"ui_group","z":"40cd1502.39e91c","name":"Project","tab":"2b4b83ed.63214c","disp":true,"width":"12","collapse":false},{"id":"2b4b83ed.63214c","type":"ui_tab","z":"40cd1502.39e91c","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"dd79e40a.904848","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e50e244b.159998","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b646860.4e4fc78","type":"ui_group","z":"","name":"Datos II","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"5859e56d.79bdac","type":"ui_group","z":"","name":"LEDs","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7c91455c.8b6a6c","type":"ui_group","z":"","name":"Datos I","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f5f6471.d9e39c","type":"ui_group","z":"","name":"LEDs","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"d04f107.94e28f","type":"ui_group","z":"","name":"Datos I","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"48f70960.a327d8","type":"ui_group","z":"","name":"Toma de contacto con ESP8266","tab":"","disp":true,"width":"12","collapse":false},{"id":"2085202b.f14a","type":"ui_group","z":"","name":"Datos II","tab":"","disp":true,"width":"6","collapse":false},{"id":"b7db4930.6eaa58","type":"mqtt in","z":"40cd1502.39e91c","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"d98f44e0.c2a128","x":340,"y":220,"wires":[["2c1bf761.eacbb8","ffaa92c8.d5185","58f75f17.33af5"]]},{"id":"2c1bf761.eacbb8","type":"debug","z":"40cd1502.39e91c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":220,"wires":[]},{"id":"ffaa92c8.d5185","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":1,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} cm","layout":"row-center","x":720,"y":160,"wires":[]},{"id":"58f75f17.33af5","type":"function","z":"40cd1502.39e91c","name":"Threshold Check","func":"context.distance = context.distance || 0.0;\ncontext.highthres = context.highthres || 0.0;\ncontext.lowthres = context.lowthres || 0.0;\n\nif (msg.topic === 'master/GRUPO_K/distance') {\n  context.distance = msg.payload;\n}\n\nif (msg.topic === 'high') {\n  context.highthres = msg.payload;\n}\n\nif (msg.topic === 'low') {\n  context.lowthres = msg.payload;\n}\n\nif(context.lowthres >= context.highthres){\n    return {topic: 'status', payload: 'set thresholds or lower threshold is greater than higher threshold'}\n}\n\nif (context.distance <= context.lowthres) {\n    return {topic: 'status', payload: 'under lower threshold'}\n} \n\nif (context.distance >= context.highthres) {\n    return {topic: 'status', payload: 'above upper threshold'}\n} \n\nreturn {topic: 'status', payload: 'between thresholds'}\n\n","outputs":1,"noerr":0,"x":790,"y":360,"wires":[["ce544eab.679ff","b8e339b.15839c8","e4191dc7.d1474"]]},{"id":"8302e264.eadaf","type":"inject","z":"40cd1502.39e91c","name":"","topic":"","payload":"100","payloadType":"num","repeat":"4","crontab":"","once":true,"onceDelay":0.1,"x":1030,"y":500,"wires":[[]]},{"id":"befdc46d.16b3c8","type":"ui_text_input","z":"40cd1502.39e91c","name":"input high","label":"Set Higher Threshold","tooltip":"","group":"4839fe8.18778","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"high","x":360,"y":560,"wires":[["5753b54f.f70a6c","58f75f17.33af5"]]},{"id":"ee5f49f7.034018","type":"ui_text_input","z":"40cd1502.39e91c","name":"input low","label":"Set Lower Threshold","tooltip":"","group":"4839fe8.18778","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"low","x":340,"y":420,"wires":[["58f75f17.33af5","b951646c.f4d8c8"]]},{"id":"b951646c.f4d8c8","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":4,"width":0,"height":0,"name":"","label":"Lower Threshold:","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":520,"wires":[]},{"id":"5753b54f.f70a6c","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":5,"width":0,"height":0,"name":"","label":"Upper threshold:","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":660,"wires":[]},{"id":"b8e339b.15839c8","type":"ui_text","z":"40cd1502.39e91c","group":"4839fe8.18778","order":6,"width":0,"height":0,"name":"","label":"Status of Distance: ","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":360,"wires":[]},{"id":"ce544eab.679ff","type":"debug","z":"40cd1502.39e91c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":240,"wires":[]},{"id":"e4191dc7.d1474","type":"ui_led","z":"40cd1502.39e91c","group":"4839fe8.18778","order":6,"width":0,"height":0,"label":"LED Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"blue","value":"under lower threshold","valueType":"str"},{"color":"red","value":"above upper threshold","valueType":"str"},{"color":"green","value":"between thresholds","valueType":"str"},{"color":"orange","value":"set thresholds or lower threshold is greater than higher threshold","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":1270,"y":460,"wires":[]}]