project/mainFlow.json
[{"id":"b847ab59.d3cdc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5c4824.11aae","type":"mqtt in","z":"b847ab59.d3cdc","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"64693858.913748","x":300,"y":300,"wires":[["9f6f1558.d56958","818371af.fd4a8","6cded253.89ed0c","7b20bed4.57fcf"]]},{"id":"9f6f1558.d56958","type":"debug","z":"b847ab59.d3cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":340,"wires":[]},{"id":"818371af.fd4a8","type":"ui_text","z":"b847ab59.d3cdc","group":"77d76f09.7bd8","order":1,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}} cm","layout":"row-center","x":640,"y":220,"wires":[]},{"id":"331ed98c.714456","type":"ui_text","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":6,"width":0,"height":0,"name":"","label":"Lower Threshold","format":"{{msg.payload.lower}}","layout":"row-spread","x":1030,"y":920,"wires":[]},{"id":"7934047a.f85ddc","type":"function","z":"b847ab59.d3cdc","name":"Thresholds","func":"context.high = context.high || 0.0;\ncontext.low = context.low || 0.0;\n\nif (msg.topic === 'high') {\n    if (msg.payload >= context.low) {\n        context.high = msg.payload;\n    }\n} else if (msg.topic === 'low' && msg.payload <= context.high) {\n  if (msg.payload >= context.low) {\n        context.low = msg.payload;\n  }\n}\nreturn {payload: {upper: context.high, lower: context.low}};\n","outputs":1,"noerr":0,"x":510,"y":860,"wires":[["8f6708cf.7b4118","331ed98c.714456","a0927ff6.d82b98"]]},{"id":"8f6708cf.7b4118","type":"ui_text","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":5,"width":0,"height":0,"name":"","label":"Upper threshold","format":"{{msg.payload.upper}}","layout":"row-spread","x":1020,"y":820,"wires":[]},{"id":"d47a8712.fc9578","type":"mqtt out","z":"b847ab59.d3cdc","name":"","topic":"master/GRUPO_K/threshold","qos":"","retain":"","broker":"1b55086a.5edb88","x":1080,"y":640,"wires":[]},{"id":"6cded253.89ed0c","type":"ui_chart","z":"b847ab59.d3cdc","name":"Distance","group":"77d76f09.7bd8","order":2,"width":0,"height":0,"label":"Measured Distance (in cm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":260,"wires":[[]]},{"id":"2ef1e665.e5bc0a","type":"ui_led","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":3,"width":0,"height":0,"label":"Lower Threshold surpassed:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"low","valueType":"str"}],"allowColorForValueInMessage":false,"name":"lowLed","x":1020,"y":440,"wires":[]},{"id":"f90afa72.159018","type":"ui_led","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":2,"width":0,"height":0,"label":"Upper threshold surpassed","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"high","valueType":"str"}],"allowColorForValueInMessage":false,"name":"highLed","x":1020,"y":500,"wires":[]},{"id":"7abb2756.e13fe8","type":"json","z":"b847ab59.d3cdc","name":"","property":"payload","action":"str","pretty":false,"x":730,"y":600,"wires":[["d47a8712.fc9578","386b3b89.cc3bf4"]]},{"id":"386b3b89.cc3bf4","type":"debug","z":"b847ab59.d3cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":600,"wires":[]},{"id":"711d0044.f18138","type":"debug","z":"b847ab59.d3cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":380,"wires":[]},{"id":"9348cdfe.f644c8","type":"function","z":"b847ab59.d3cdc","name":"filterLow","func":"if (msg.payload.highLed === true) {\n    return {payload: \"high\"};\n} else if (msg.payload.lowLed === true) {\n    return {payload: \"low\"};\n} else {\n    return {payload:\"between\"};\n}\n","outputs":1,"noerr":0,"x":740,"y":460,"wires":[["2ef1e665.e5bc0a","711d0044.f18138","f90afa72.159018","1c770bc.1189074"]]},{"id":"1c770bc.1189074","type":"ui_led","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":1,"width":0,"height":0,"label":"normal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"between","valueType":"str"}],"allowColorForValueInMessage":false,"name":"normalLed","x":1030,"y":560,"wires":[]},{"id":"7b20bed4.57fcf","type":"function","z":"b847ab59.d3cdc","name":"Threshold Check","func":"context.distance = context.distance || 0.0;\ncontext.highthres = context.highthres || 0.0;\ncontext.lowthres = context.lowthres || 0.0;\n\nif (msg.topic === 'master/GRUPO_K/distance') {\n  context.distance = msg.payload;\n}\n\nif (msg.topic === 'high' && msg.payload >= context.lowthres) {\n  context.highthres = msg.payload;\n}\n\nif (msg.topic === 'low' && msg.payload <= context.highthres) {\n  context.lowthres = msg.payload;\n}\n\nif (context.distance <= context.lowthres) {\n    return {payload: {highLed: false, lowLed: true}};\n} \n\nif (context.distance >= context.highthres) {\n    return {payload: {highLed: true, lowLed:false}};\n} \n\nreturn {payload: {highLed: false, lowLed: false}};\n\n","outputs":1,"noerr":0,"x":470,"y":540,"wires":[["9348cdfe.f644c8","7abb2756.e13fe8","be56c1f9.a873c8"]]},{"id":"3497067f.4f6a1a","type":"ui_text_input","z":"b847ab59.d3cdc","name":"input high","label":"Set Higher Threshold","tooltip":"","group":"374ae9de.35b07e","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"high","x":160,"y":820,"wires":[["7b20bed4.57fcf","7934047a.f85ddc"]]},{"id":"15a55a1b.acbb8e","type":"ui_text_input","z":"b847ab59.d3cdc","name":"input low","label":"Set Lower Threshold","tooltip":"","group":"374ae9de.35b07e","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"low","x":160,"y":920,"wires":[["7b20bed4.57fcf","7934047a.f85ddc"]]},{"id":"a0927ff6.d82b98","type":"debug","z":"b847ab59.d3cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1000,"wires":[]},{"id":"be56c1f9.a873c8","type":"debug","z":"b847ab59.d3cdc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"231719dc.74a916","type":"ui_text_input","z":"b847ab59.d3cdc","name":"input basket height","label":"Set basket height","tooltip":"","group":"374ae9de.35b07e","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":130,"y":1060,"wires":[["60bc200e.67f108"]]},{"id":"60bc200e.67f108","type":"json","z":"b847ab59.d3cdc","name":"","property":"payload","action":"str","pretty":false,"x":710,"y":1060,"wires":[["4ebf4120.ae288","47a74896.d8b99","eab8f03d.0615c"]]},{"id":"4ebf4120.ae288","type":"debug","z":"b847ab59.d3cdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1000,"wires":[]},{"id":"47a74896.d8b99","type":"ui_text","z":"b847ab59.d3cdc","group":"8087d6ed.8d838","order":4,"width":0,"height":0,"name":"","label":"Height of basket","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":1060,"wires":[]},{"id":"eab8f03d.0615c","type":"mqtt out","z":"b847ab59.d3cdc","name":"","topic":"master/GRUPO_K/basketHeight","qos":"","retain":"","broker":"1b55086a.5edb88","x":1070,"y":1160,"wires":[]},{"id":"64693858.913748","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"77d76f09.7bd8","type":"ui_group","z":"b847ab59.d3cdc","name":"Measurement","tab":"404915e.1928dec","order":2,"disp":true,"width":"12","collapse":false},{"id":"8087d6ed.8d838","type":"ui_group","z":"","name":"Status","tab":"404915e.1928dec","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b55086a.5edb88","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"374ae9de.35b07e","type":"ui_group","z":"","name":"User input","tab":"404915e.1928dec","order":3,"disp":true,"width":"6","collapse":false},{"id":"404915e.1928dec","type":"ui_tab","z":"b847ab59.d3cdc","name":"Project","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
