Exercises In Class/contactWithEsp8266/task3/flows.json
[{"id":"b6a75546.5e7708","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"da2fc1b9.1ba3f","type":"mqtt in","z":"b6a75546.5e7708","name":"","topic":"master/GRUPO_K/dispositivo","qos":"2","datatype":"utf8","broker":"1b55086a.5edb88","x":220,"y":120,"wires":[["6623df69.206a28","1337d363.3dcc75"]]},{"id":"6623df69.206a28","type":"debug","z":"b6a75546.5e7708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":120,"wires":[]},{"id":"1337d363.3dcc75","type":"ui_text","z":"b6a75546.5e7708","group":"a38d4ee6.192f5","order":0,"width":0,"height":0,"name":"","label":"Dispositivo","format":"{{msg.payload}}","layout":"row-center","x":602,"y":186,"wires":[]},{"id":"88973750.6c89f","type":"mqtt in","z":"b6a75546.5e7708","name":"","topic":"master/GRUPO_K/orden","qos":"2","datatype":"utf8","broker":"1b55086a.5edb88","x":170,"y":260,"wires":[["4ef83f62.b2868"]]},{"id":"4ef83f62.b2868","type":"debug","z":"b6a75546.5e7708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":260,"wires":[]},{"id":"2ab41331.46b4a4","type":"mqtt in","z":"b6a75546.5e7708","name":"","topic":"master/GRUPO_K/estado","qos":"2","datatype":"utf8","broker":"1b55086a.5edb88","x":210,"y":360,"wires":[["a223b17b.009718","f790963c.931d6"]]},{"id":"a223b17b.009718","type":"debug","z":"b6a75546.5e7708","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":360,"wires":[]},{"id":"f790963c.931d6","type":"ui_text","z":"b6a75546.5e7708","group":"a38d4ee6.192f5","order":0,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-center","x":620,"y":460,"wires":[]},{"id":"67bd6204.5c4e34","type":"mqtt out","z":"b6a75546.5e7708","name":"","topic":"master/GRUPO_K/orden","qos":"","retain":"","broker":"1b55086a.5edb88","x":720,"y":600,"wires":[]},{"id":"6dbe97a5.a4c238","type":"ui_switch","z":"b6a75546.5e7708","name":"","label":"Enciende","tooltip":"","group":"a38d4ee6.192f5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"enciende","onvalueType":"str","onicon":"","oncolor":"","offvalue":"apaga","offvalueType":"str","officon":"","offcolor":"","x":220,"y":600,"wires":[["67bd6204.5c4e34"]]},{"id":"2e04fbee.69a95c","type":"ui_switch","z":"b6a75546.5e7708","name":"","label":"Alterna","tooltip":"","group":"a38d4ee6.192f5","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"alterna","onvalueType":"str","onicon":"","oncolor":"","offvalue":"apaga","offvalueType":"str","officon":"","offcolor":"","x":240,"y":520,"wires":[["67bd6204.5c4e34"]]},{"id":"1b55086a.5edb88","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a38d4ee6.192f5","type":"ui_group","z":"b6a75546.5e7708","name":"Project","tab":"cf7b68ad.d7d688","disp":true,"width":"12","collapse":false},{"id":"cf7b68ad.d7d688","type":"ui_tab","z":"b6a75546.5e7708","name":"Datos I","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
