exercises/contactWithEsp8266/flows.json
[{"id":"621ef145.760df","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b30ca2f.1bd598","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7093a3c5.8bd91c","type":"ui_tab","z":"","name":"Datos II","icon":"dashboard","disabled":false,"hidden":false},{"id":"74097b84.048834","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e67013a9.3abce","type":"ui_tab","z":"","name":"Datos I","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae761e73.d24","type":"ui_group","z":"","name":"Datos I","tab":"e67013a9.3abce","disp":true,"width":"6","collapse":false},{"id":"aedca199.d4828","type":"mqtt in","z":"621ef145.760df","name":"","topic":"master/datos/json","qos":"2","datatype":"json","broker":"9b30ca2f.1bd598","x":90,"y":160,"wires":[["da32054b.9f31a8"]]},{"id":"86ad4724.e76ab8","type":"debug","z":"621ef145.760df","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":200,"wires":[]},{"id":"da32054b.9f31a8","type":"json","z":"621ef145.760df","name":"","property":"payload.BME280.Temperatura","action":"","pretty":false,"x":90,"y":260,"wires":[["76f751e.11e8eb","98f57e98.89a8d"]]},{"id":"76f751e.11e8eb","type":"change","z":"621ef145.760df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":200,"wires":[["14f1f0a7.3b4e9f"]]},{"id":"14f1f0a7.3b4e9f","type":"ui_gauge","z":"621ef145.760df","name":"","group":"ae761e73.d24","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":200,"wires":[]},{"id":"77a5a8c0.2a2c28","type":"ui_text","z":"621ef145.760df","group":"ae761e73.d24","order":1,"width":0,"height":0,"name":"","label":"Última","format":"{{value}}","layout":"row-spread","x":170,"y":600,"wires":[]},{"id":"98f57e98.89a8d","type":"change","z":"621ef145.760df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Fecha","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":320,"wires":[["86ad4724.e76ab8","acc0ee31.f4eb"]]},{"id":"41de22b5.c7ce3c","type":"ui_text","z":"621ef145.760df","group":"ae761e73.d24","order":2,"width":0,"height":0,"name":"","label":"actualizacíon","format":"{{value}}","layout":"row-spread","x":420,"y":500,"wires":[]},{"id":"acc0ee31.f4eb","type":"function","z":"621ef145.760df","name":"","func":"var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\n\n// Inicializo payload a un objeto vacio\n\nmsg.payload={};\n\n// coloco la fecha en el mensaje como un campo del payload\n\nmsg.payload.fecha=ahora;\n\n// extraigo el timestamp y lo añado\n\nmsg.payload.timestamp=ahora.getTime(); \n\n// formato: sólo hora local\n\nmsg.payload.hora=ahora.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n// formato: sólo fecha\n\nmsg.payload.dia=ahora.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid' });\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["4924ee21.d682","bcddc691.463888"]]},{"id":"4924ee21.d682","type":"change","z":"621ef145.760df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dia","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":480,"wires":[["77a5a8c0.2a2c28"]]},{"id":"bcddc691.463888","type":"change","z":"621ef145.760df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hora","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":320,"wires":[["41de22b5.c7ce3c"]]}]