Node-RED-intro/flow.json
[{"id":"31800249.34d41e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"56f591ac.e4c3a8","type":"debug","z":"31800249.34d41e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":60,"wires":[]},{"id":"ee7fd69a.14ce48","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":340,"wires":[["e5477818.ce9ef8","703a9d08.3afcb4"]]},{"id":"dcea080a.20dc48","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":400,"wires":[["4dc39836.53d598"]]},{"id":"a004c532.45cca8","type":"function","z":"31800249.34d41e","name":"","func":"var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\n\n// Inicializo payload a un objeto vacio\n\nmsg.payload={};\n\n// coloco la fecha en el mensaje como un campo del payload\n\nmsg.payload.fecha=ahora;\n\n// extraigo el timestamp y lo añado\n\nmsg.payload.timestamp=ahora.getTime(); \n\n// formato: sólo hora local\n\nmsg.payload.hora=ahora.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\n// formato: sólo fecha\n\nmsg.payload.dia=ahora.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid' });\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["dc1ced12.12da2","77f5c33f.c979dc"]]},{"id":"bbd72fcf.d752c","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Fecha","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":460,"wires":[["a004c532.45cca8"]]},{"id":"76e2e22b.444cfc","type":"mqtt in","z":"31800249.34d41e","name":"","topic":"master/datos/json","qos":"2","datatype":"json","broker":"bfa90e42.1bf8e8","x":110,"y":140,"wires":[["56f591ac.e4c3a8","6179e997.61ff3","2d8873ee.57d624","39a5cac7.b1b3a6"]]},{"id":"e5477818.ce9ef8","type":"ui_gauge","z":"31800249.34d41e","name":"Temperature","group":"fb1c43b4.10a948","order":3,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":340,"wires":[]},{"id":"6179e997.61ff3","type":"json","z":"31800249.34d41e","name":"","property":"payload.BME280.Temperatura","action":"obj","pretty":true,"x":150,"y":240,"wires":[["ee7fd69a.14ce48","dcea080a.20dc48","bbd72fcf.d752c"]]},{"id":"703a9d08.3afcb4","type":"debug","z":"31800249.34d41e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":220,"wires":[]},{"id":"75f5f159.e8ba58","type":"ui_led","z":"31800249.34d41e","group":"d2bb4519.11e688","order":2,"width":0,"height":0,"label":"LED VERDE","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"LED VERDE","x":890,"y":880,"wires":[]},{"id":"4dc39836.53d598","type":"ui_gauge","z":"31800249.34d41e","name":"","group":"fb1c43b4.10a948","order":4,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":400,"wires":[]},{"id":"c5c99886.db132","type":"ui_text","z":"31800249.34d41e","group":"fb1c43b4.10a948","order":1,"width":0,"height":0,"name":"","label":"Última","format":"{{value}}","layout":"row-spread","x":350,"y":580,"wires":[]},{"id":"dc1ced12.12da2","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dia","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["c5c99886.db132"]]},{"id":"77f5c33f.c979dc","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.hora","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":640,"wires":[["135de61.f6f3b9a"]]},{"id":"135de61.f6f3b9a","type":"ui_text","z":"31800249.34d41e","group":"fb1c43b4.10a948","order":2,"width":0,"height":0,"name":"","label":"actualización","format":"{{value}}","layout":"row-spread","x":550,"y":640,"wires":[]},{"id":"2d8873ee.57d624","type":"json","z":"31800249.34d41e","name":"","property":"payload.BME280.Presion","action":"","pretty":false,"x":810,"y":220,"wires":[["6647366a.ee0ff"]]},{"id":"6647366a.ee0ff","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Presion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["3026eb08.8f4bbc"]]},{"id":"3026eb08.8f4bbc","type":"ui_chart","z":"31800249.34d41e","name":"","group":"4fdb71c9.d2f958","order":1,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":300,"wires":[[]]},{"id":"eedefd43.314dc8","type":"ui_gauge","z":"31800249.34d41e","name":"","group":"4fdb71c9.d2f958","order":2,"width":0,"height":0,"gtype":"donut","title":"Luz","label":"w/m2","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":420,"wires":[]},{"id":"39a5cac7.b1b3a6","type":"json","z":"31800249.34d41e","name":"","property":"payload.ADC.Iluminacion","action":"","pretty":false,"x":690,"y":380,"wires":[["35b70cba.4e7d6c"]]},{"id":"35b70cba.4e7d6c","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ADC.Iluminacion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":400,"wires":[["eedefd43.314dc8"]]},{"id":"abeaf38f.cb475","type":"mqtt in","z":"31800249.34d41e","name":"","topic":"master/leds/orden","qos":"2","datatype":"json","broker":"bfa90e42.1bf8e8","x":90,"y":1000,"wires":[["b8b00ec2.cdc0d8","ff564eb8.f654","f33f1f7b.1c57f8"]]},{"id":"b8b00ec2.cdc0d8","type":"debug","z":"31800249.34d41e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":800,"wires":[]},{"id":"330e8284.bcc646","type":"ui_led","z":"31800249.34d41e","group":"d2bb4519.11e688","order":3,"width":0,"height":0,"label":"LED ROJO","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"LED ROJO","x":890,"y":1040,"wires":[]},{"id":"ff564eb8.f654","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"change","p":"payload.led1","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload.led1","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":900,"wires":[["ee198288.7c7b"]]},{"id":"3b7d56ea.accc12","type":"ui_switch","z":"31800249.34d41e","name":"","label":"switch LED VERDE","tooltip":"","group":"d2bb4519.11e688","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"led1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":820,"wires":[["4ef9819e.cafcf8"]]},{"id":"edd227ac.80c9f","type":"ui_switch","z":"31800249.34d41e","name":"","label":"switch LED ROJO","tooltip":"","group":"d2bb4519.11e688","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"led2","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":960,"wires":[["c6950e22.72223"]]},{"id":"f33f1f7b.1c57f8","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"change","p":"payload.led2","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"},{"t":"change","p":"payload.led2","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":1020,"wires":[["a6ad7b09.467c28"]]},{"id":"4ef9819e.cafcf8","type":"function","z":"31800249.34d41e","name":"gate","func":"// read (or initialize) gate state\nvar gateIsOpen = global.get(\"gate1IsOpen\");\n\n//message is from switch\nif(msg.topic === \"led1\"){\n gateIsOpen = msg.payload;\n // store the gate state \n global.set(\"gate1IsOpen\",gateIsOpen);\n}\n\n// message is from other sources\nelse{\n if(gateIsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n msg.payload = false;\n }\n return msg;\n}\n\n","outputs":1,"noerr":0,"x":730,"y":900,"wires":[["75f5f159.e8ba58","630837f7.86a89"]]},{"id":"c6950e22.72223","type":"function","z":"31800249.34d41e","name":"gate","func":"// read (or initialize) gate state\nvar gate2IsOpen = global.get(\"gate2IsOpen\");\n\n//message is from switch\nif(msg.topic === \"led2\"){\n gate2IsOpen = msg.payload;\n // store the gate state \n global.set(\"gate2IsOpen\",gate2IsOpen);\n}\n\n// message is from other sources\nelse{\n if(gate2IsOpen === true){\n node.status({fill:\"green\",shape:\"ring\",text:\"gate is open\"});\n // send through the original message\n }\n else{\n //just display the status of gate\n node.status({fill:\"red\",shape:\"ring\",text:\"gate is closed\"});\n msg.payload = false;\n }\n\n return msg;\n}\n\n","outputs":1,"noerr":0,"x":730,"y":1020,"wires":[["330e8284.bcc646","249ebdb3.86c582","c4be3e58.95e73"]]},{"id":"249ebdb3.86c582","type":"debug","z":"31800249.34d41e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":1120,"wires":[]},{"id":"3fbf8441.4baa04","type":"function","z":"31800249.34d41e","name":"initializeContext","func":"global.set(\"gate1IsOpen\", true);\nglobal.set(\"gate2IsOpen\", true);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1200,"wires":[["69fcf58b.06758c"]]},{"id":"ff1cd979.da15b","type":"inject","z":"31800249.34d41e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0","x":490,"y":1200,"wires":[["3fbf8441.4baa04"]]},{"id":"135de8a.bd62c97","type":"inject","z":"31800249.34d41e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":550,"y":980,"wires":[["edd227ac.80c9f"]]},{"id":"dc0652.6b67d9b","type":"inject","z":"31800249.34d41e","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0","x":570,"y":820,"wires":[["3b7d56ea.accc12"]]},{"id":"69fcf58b.06758c","type":"debug","z":"31800249.34d41e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":1200,"wires":[]},{"id":"a6ad7b09.467c28","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1060,"wires":[["c6950e22.72223"]]},{"id":"ee198288.7c7b","type":"change","z":"31800249.34d41e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.led1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":940,"wires":[["4ef9819e.cafcf8"]]},{"id":"f7c0198a.289c8","type":"ui_text","z":"31800249.34d41e","group":"d2bb4519.11e688","order":4,"width":0,"height":0,"name":"","label":"Último cambio","format":"{{msg.payload}}","layout":"row-spread","x":1260,"y":960,"wires":[]},{"id":"630837f7.86a89","type":"function","z":"31800249.34d41e","name":"converter","func":"msg.payload = {led1:msg.payload ? 1 : 0};\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":920,"wires":[["f7c0198a.289c8"]]},{"id":"c4be3e58.95e73","type":"function","z":"31800249.34d41e","name":"converter","func":"msg.payload = {led2:msg.payload ? 1 : 0};\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1000,"wires":[["f7c0198a.289c8"]]},{"id":"bfa90e42.1bf8e8","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fb1c43b4.10a948","type":"ui_group","z":"","name":"Datos I","tab":"a343c4f1.0e6c","order":2,"disp":true,"width":"6","collapse":false},{"id":"d2bb4519.11e688","type":"ui_group","z":"","name":"LEDs","tab":"a343c4f1.0e6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fdb71c9.d2f958","type":"ui_group","z":"","name":"Datos II","tab":"a343c4f1.0e6c","order":3,"disp":true,"width":"6","collapse":false},{"id":"a343c4f1.0e6c","type":"ui_tab","z":"","name":"MASTER IoT","icon":"dashboard","disabled":false,"hidden":false}]
