project_grupo-k/mainFlow.json
[{"id":"690af141.48d618","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b633c8df.94bfe8","type":"mqtt in","z":"690af141.48d618","name":"","topic":"master/GRUPO_K/distance","qos":"2","datatype":"utf8","broker":"64693858.913748","x":120,"y":300,"wires":[["78795d25.fd58a4","322e5601.b7f762","933c324a.48f9d8","4be1b155.2b0fb"]]},{"id":"78795d25.fd58a4","type":"debug","z":"690af141.48d618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":340,"wires":[]},{"id":"322e5601.b7f762","type":"ui_text","z":"690af141.48d618","group":"d9e0e200.19fa","order":1,"width":0,"height":0,"name":"","label":"Last Distance","format":"{{msg.payload}} cm","layout":"row-center","x":840,"y":180,"wires":[]},{"id":"a5b4b716.1ed66","type":"ui_text","z":"690af141.48d618","group":"8087d6ed.8d838","order":6,"width":0,"height":0,"name":"","label":"Lower threshold","format":"{{msg.payload.lower}}","layout":"row-spread","x":1020,"y":920,"wires":[]},{"id":"751be414.848674","type":"function","z":"690af141.48d618","name":"Thresholds","func":"context.high = context.high || 0.0;\ncontext.low = context.low || 0.0;\ncontext.basketHeight = context.basketHeight || 0.0;\n\nif (msg.topic === 'high') {\n    if (msg.payload >= context.low) {\n        context.high = msg.payload;\n    }\n} else if (msg.topic === 'low') {\n  if (msg.payload <= context.high) {\n        context.low = msg.payload;\n  } \n}\nreturn {payload: {upper: context.high, lower: context.low}};\n","outputs":1,"noerr":0,"x":510,"y":860,"wires":[["481ab403.dbc73c","a5b4b716.1ed66","bd01b502.bdd028"]]},{"id":"481ab403.dbc73c","type":"ui_text","z":"690af141.48d618","group":"8087d6ed.8d838","order":5,"width":0,"height":0,"name":"","label":"Upper threshold","format":"{{msg.payload.upper}}","layout":"row-spread","x":1020,"y":820,"wires":[]},{"id":"dac4778d.c2a9c8","type":"mqtt out","z":"690af141.48d618","name":"","topic":"master/GRUPO_K/threshold","qos":"","retain":"","broker":"1b55086a.5edb88","x":1080,"y":640,"wires":[]},{"id":"933c324a.48f9d8","type":"ui_chart","z":"690af141.48d618","name":"Distance","group":"d9e0e200.19fa","order":2,"width":0,"height":0,"label":"Measured Distance (in cm)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":260,"wires":[[]]},{"id":"7abe131b.425b3c","type":"ui_led","z":"690af141.48d618","group":"8087d6ed.8d838","order":3,"width":0,"height":0,"label":"Lower Threshold surpassed:","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"low","valueType":"str"}],"allowColorForValueInMessage":false,"name":"lowLed","x":1020,"y":440,"wires":[]},{"id":"b95ffd4d.79718","type":"ui_led","z":"690af141.48d618","group":"8087d6ed.8d838","order":2,"width":0,"height":0,"label":"Upper threshold surpassed","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"high","valueType":"str"}],"allowColorForValueInMessage":false,"name":"highLed","x":1020,"y":500,"wires":[]},{"id":"ae3d1aea.f76428","type":"json","z":"690af141.48d618","name":"","property":"payload","action":"str","pretty":false,"x":730,"y":600,"wires":[["dac4778d.c2a9c8","cd89e7ab.3f5938"]]},{"id":"cd89e7ab.3f5938","type":"debug","z":"690af141.48d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":600,"wires":[]},{"id":"92472792.1db26","type":"debug","z":"690af141.48d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":380,"wires":[]},{"id":"fbafcda.dc8bd3","type":"function","z":"690af141.48d618","name":"filterLow","func":"if (msg.payload.highLed === true) {\n    return {payload: \"high\"};\n} else if (msg.payload.lowLed === true) {\n    return {payload: \"low\"};\n} else {\n    return {payload:\"between\"};\n}\n","outputs":1,"noerr":0,"x":740,"y":460,"wires":[["7abe131b.425b3c","92472792.1db26","b95ffd4d.79718","b82c779a.3f8df8"]]},{"id":"b82c779a.3f8df8","type":"ui_led","z":"690af141.48d618","group":"8087d6ed.8d838","order":1,"width":0,"height":0,"label":"normal","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"between","valueType":"str"}],"allowColorForValueInMessage":false,"name":"normalLed","x":1030,"y":560,"wires":[]},{"id":"4be1b155.2b0fb","type":"function","z":"690af141.48d618","name":"Threshold Check","func":"context.distance = context.distance || 0.0;\ncontext.highthres = context.highthres || 0.0;\ncontext.lowthres = context.lowthres || 0.0;\ncontext.basket = context.basket || 0.0;\n\nif (msg.topic === 'basketHeight') {\n  context.basket = msg.payload;\n}\n\nif (msg.topic === 'master/GRUPO_K/distance') {\n  context.distance = msg.payload;\n}\n\nif (msg.topic === 'high' && msg.payload >= context.lowthres) {\n  context.highthres = msg.payload;\n}\n\nif (msg.topic === 'low' && msg.payload <= context.highthres) {\n  context.lowthres = msg.payload;\n}\n\nif (context.distance <= context.lowthres) {\n    return {payload: {highLed: false, lowLed: true, basketHeight: context.basket}};\n} \n\nif (context.distance >= context.highthres) {\n    return {payload: {highLed: true, lowLed:false, basketHeight: context.basket}};\n} \n\n\nreturn {payload: {highLed: false, lowLed: false, basketHeight: context.basket}};\n\n","outputs":1,"noerr":0,"x":470,"y":540,"wires":[["fbafcda.dc8bd3","ae3d1aea.f76428","11d2f25c.26f676"]]},{"id":"4daf5923.625b7","type":"ui_text_input","z":"690af141.48d618","name":"input high","label":"Set higher threshold","tooltip":"","group":"374ae9de.35b07e","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"high","x":160,"y":820,"wires":[["4be1b155.2b0fb","751be414.848674"]]},{"id":"5bac01a2.bbecc8","type":"ui_text_input","z":"690af141.48d618","name":"input low","label":"Set lower threshold","tooltip":"","group":"374ae9de.35b07e","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"low","x":160,"y":920,"wires":[["4be1b155.2b0fb","751be414.848674"]]},{"id":"bd01b502.bdd028","type":"debug","z":"690af141.48d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1000,"wires":[]},{"id":"11d2f25c.26f676","type":"debug","z":"690af141.48d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":400,"wires":[]},{"id":"d3f7d635.3f56a8","type":"ui_text_input","z":"690af141.48d618","name":"input basket height","label":"Set basket height","tooltip":"","group":"374ae9de.35b07e","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"basketHeight","x":130,"y":1060,"wires":[["2f328b05.3c042c","4be1b155.2b0fb","751be414.848674"]]},{"id":"2f328b05.3c042c","type":"json","z":"690af141.48d618","name":"","property":"payload","action":"str","pretty":false,"x":710,"y":1060,"wires":[["3dd0a1b.393a7de","52e499c8.f9ea8"]]},{"id":"3dd0a1b.393a7de","type":"debug","z":"690af141.48d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":1000,"wires":[]},{"id":"52e499c8.f9ea8","type":"ui_text","z":"690af141.48d618","group":"8087d6ed.8d838","order":4,"width":0,"height":0,"name":"","label":"Height of basket","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":1060,"wires":[]},{"id":"64693858.913748","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d9e0e200.19fa","type":"ui_group","z":"690af141.48d618","name":"Measurement","tab":"8f836520.29aa5","order":2,"disp":true,"width":"12","collapse":false},{"id":"8087d6ed.8d838","type":"ui_group","z":"","name":"Status","tab":"8f836520.29aa5","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b55086a.5edb88","type":"mqtt-broker","z":"","name":"UMA","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"374ae9de.35b07e","type":"ui_group","z":"","name":"User input","tab":"8f836520.29aa5","order":3,"disp":true,"width":"6","collapse":false},{"id":"8f836520.29aa5","type":"ui_tab","z":"690af141.48d618","name":"Project","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
